@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny-text {
  background: linear-gradient(
    90deg,
    #ff6fe0,
    #b662ff,
    #7f62ff,
    #6854ff,
    #b662ff
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}